*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 100%;
	text-decoration: none;
}

.container{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

/*------------------------
		HEADER
--------------------------*/

header{
	width: 100%;
}

.header-bar{
	height: 50px;
	background-color: #1E3954;
	line-height: 50px;
}

.header-bar .container{
	display: flex;
}

.details{
	width: 70%;
}

.details ul li{
	margin: 0 20px;
	display: inline-block;
	list-style: none;
}

.details ul li span.fa{
	margin-right: 8px;
	color: #93c83f;
}

.details ul li a, .details ul li label{
	color: #fff;
	font-family: sans-serif;
	font-size: 0.8em;
	font-weight: bold;
	cursor: pointer;
}

.details ul li a:hover{
	color: #A9A9A9;
}

.details ul li label{
	cursor: text;
}

.social-links{
	width: 30%;
	text-align: right;
}

.social-links ul li{
	margin: 0 5px;
	display: inline-block;
	list-style: none;
}

.social-links ul li a span i.fa-stack-2x{
	color: #2e5275;
	transition: all 0.5s;
}

.social-links ul li a span i.fa-stack-1x{
	color: #ffffff;
	font-size: 0.7em;
	transition: all 0.5s;
}

.social-links ul li a:hover span i.fa-stack-2x{
	color: #93c83f;
}

.navbar{
	display: flex;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: 100px;
	background-color: #fff;
	line-height: 100px;
}

.navbar .brand{
	width: 25%;
	text-align: left;
}

.brand a span.fa{
	margin-left: 20px;
	margin-right: 5px;
	font-size: 1.5em;
}

.brand a span.brand-name{
	font-size: 1.5em;
	font-weight: 600;
	text-transform: capitalize;
}

.brand a span.name-tax{
	color: #1F3A55;
}

.brand a span.name-expert{
	color: #7192B3;
}

.navbar .nav{
	width: 75%;
	text-align: right;
}

.nav ul li{
	display: inline-block;
	margin: 0 20px;
}

.nav ul li:last-child{
	margin-right: 0;
}

.nav ul li a{
	padding: 10px 0;
	text-transform: uppercase;
	font-family: sans-serif;
	font-weight: 500;
	color: #000;
	transition: all 0.5s;
}

.nav ul li a span.fa{
	font-size: 1.5em;
}

.nav ul li:first-child a{
	color: #ADCE7B;
}

.nav ul li a:hover{
	color: #ADCE7B;
}

/*------------------------
	JUMBOTRON SECTION
--------------------------*/

.jumbotron{
	width: 100%;
	height: 550px;
	background-image: url("http://placehold.it/1920X1000");
	background-size: cover;
	background-position: center;
}

.jumbotron .jumbotron-content{
	position: relative;
	top: 20%;
	left: 10%;
	width: 35%;
}

.jumbotron-content h1{
	color: #fff;
	font-family: sans-serif;
	font-size: 3.5em;
}

.jumbotron-content p{
	margin-top: 5px;
	color: #fff;
	font-family: sans-serif;
	font-size: 1.4em;
}

button.make-appointment{
	margin-top: 50px;
	padding:20px 40px;
	background-color: #1e3953;
	border:none;
	border-radius: 5px;
	font-family: sans-serif;
	color: #fff;
	font-size: 0.8em;
	font-weight: 900;
	transition: all 0.5s;
}

button.make-appointment span{
	margin-left: 10px;
	font-weight: 600;
}

button.make-appointment:hover{
	background-color: #93c83f;
}

/*---------------------------------
		OUR-SERVICES SECTION
-----------------------------------*/

section.our-services{
	padding: 80px 0px;
}

.our-services h1{
	margin-bottom: 20px;
	color: #000;
	text-align: center;
	font-family: sans-serif;
	font-size: 3em;
}

.our-services > p{
	margin-bottom: 50px;
	color: #A9A9A9;
	text-align: center;
	font-family: sans-serif;
	font-size: 1.2em;
}

.services-lists{
	margin-left: auto;
	margin-right: auto;
	padding: 30px 1.5%;
	width: 80%;
	overflow: auto;
}

.services-list-item{
	position: relative;
	padding: 70px 2.5%;
	float: left;
	width:26%;
	text-align: center;
	transition: padding 0.5s;
}

.services-list-item:nth-child(2){
	margin-left: 10.5%;
	margin-right: 10.5%;
}

.services-list-item::before, .services-list-item::after{
	content: ' ';
	position: absolute;
	width:80%;
	height: 80%;
	transition: all 0.5s;	
}

.services-list-item::before{
	top: 0;
	left: 0;
	border-top: 2px solid #e5e7e9;
	border-left: 2px solid #e5e7e9;
}

.services-list-item::after{
	bottom: 0;
	right: 0;
	border-bottom: 2px solid #e5e7e9;
	border-right: 2px solid #e5e7e9;
}

.services-list-item .list-top{
	margin-bottom: 10px;
	transition: all 0.5s;
}

.services-list-item .list-top span.fa{
	margin-bottom: 5px;
	color: #93c83f;
}

.services-list-item .list-top h2{
	font-family: sans-serif;
	font-size: 1.2em;
}

.services-list-item .divider{
	margin-left: auto;
	margin-right: auto;
	width: 20%;
	height: 2px;
	background-color: #93c83f;
	transition: all 0.5s;
}

.services-list-item .list-body{
	margin-top: 10px;
	transition: all 0.5s;
}

.services-list-item .list-body p{
	padding: 0px 5%;
	color: #A9A9A9;
	line-height: 22px;
}

.services-list-item:hover .divider{
	width: 80%;
}

.services-list-item:hover .list-top{
	margin-bottom: 20px;
}

.services-list-item:hover .list-body{
	margin-top: 20px;
}

.services-list-item:hover{
	padding-top: 60px;
	padding-bottom: 60px;
}

.services-list-item:hover::before, .services-list-item:hover::after{
	width: 105%;
	height: 105%;
	border-color: #93c83f;
}

/*-------------------------------
		ABOUT-US SECTION
---------------------------------*/

section.about-us{
	padding: 80px 0px;
	width: 100%;
	background-image: url("http://placehold.it/1920X1000");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.about-us-board{
	position: relative;
	left: 50%;
	overflow: auto;
}

.left-board{
	padding: 80px 4%;
	width: 30%;
	background-color: #1e3953;
    float: left;
}

.left-board > h1{
	margin-bottom: 40px;
	color: #fff;
	font-family: sans-serif;
	font-size: 3em;
}

.left-board > p{
	margin-bottom: 40px;
	color: #fff;
	font-family: sans-serif;
	font-size: 1em;
}

.left-board > ul{
	list-style-type: none;
}

.left-board > ul li{
	padding: 7.5px 0;
	color: #fff;
	font-family: sans-serif;
	font-size: 1em;
}

.left-board > ul li span.fa{
	padding-right: 15px;
	color: #93c83f;
}

.left-board > button.make-appointment{
	margin-bottom: 10px;
	padding: 18px 35px;
	border: 2px solid #fff;
}

.left-board > button.make-appointment:hover{
	border: 2px solid #93c83f;
}

.left-board > a span{
	padding-left: 10px; 
	font-family: sans-serif;
	font-weight: 600;
}

.right-board{
	position: relative;
	top: 42px;
	width: 11%;
	background-color: #1e3953;
	box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.2);
	float: left;
}

.board-item{
	padding: 40px 40px;
	font-family: sans-serif;
	text-align: center;
}

.board-item-divider{
	height: 1px;
	background-color: #000033;
}

.board-item > span{
	color: #fff;
	font-weight: 900;
	font-size: 2.5em;
}

.board-item > p{
	color: #496a8a;
	font-weight: bold;
}

/*--------------------------------
		TAX-CALCULATOR SECTION
----------------------------------*/

section.tax-calculator{
	padding: 80px 0;
}